.card{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}
.btn{
    -fx-background-color: linear-gradient(to bottom right,#6A5ACD, #6A5ACD); 
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #9370DB, #9370DB); 
}